<h1>Editing monster</h1>

<% form_for(@monster) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @monster %> |
<%= link_to 'Back', monsters_path %>